/* Write your code here. */

.left-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50vw;
}

.bg-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  min-height: 100vh;
  width: 100vw;
  padding: 40px;
}
.right-card {
  width: 50vw;
}
.image {
  width: 48vw;
}
.heading {
  color: white;
  font-weight: 500;
  font-size: 45px;
}

.para {
  color: white;
  font-weight: 400;
  font-size: 15px;
}
input {
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  border-color: white;
  border-width: 1px;
  width: 40vw;
  max-width: 300px;
}
.button {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border-width: 0px;
  margin-top: 10px;
  color: #1d976c;
  font-weight: bold;
  font-size: 20px;
}
@media (max-width: 767px) {
  .bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #1d976c, #93f9b9);
    min-height: 100vh;
    width: 100vw;
    padding: 40px;
  }

  .left-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    order: 1;
  }
  input {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    width: 60vw;
  }
  .image {
    width: 60vw;
  }
  .right-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
